body {
	background: url(../images/bg2.jpg) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size:cover;
	font-family: 'Oxygen', sans-serif;
	text-align: center;

}

h1 {
	color: black;
	font-size: 50px;
	font-weight: normal;
	margin-bottom: 0;
}

h2 { 
	color: black;
	font-size: 24px;
	font-weight: bold;
	margin-top: 0; }

.bio {
	color: black;
	font-size: 14px;
	font-weight: normal;
	margin-top: 0;
}

.me {
	height: 150px;
	border-radius: 100%;
	border-style: solid;
	border-color: white;
	margin-top: 40px;}

